<div class="wrapper">
  <div class="container">
    <div class="row">
      <h1 class="text-center form-title">Create a Cocktail</h1>
      <%= render 'form', cocktail: @cocktail %>
    </div>
  </div>
</div>