.show-page {
  display: flex;
  justify-content: space-between;
}

.left-box {
  box-shadow: 0px 1px 20px rgba(0,0,0,0.6);
  width: 50%;
  height: 100vh;
}

.cocktail-image {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.right-box {
  width: 50%;
  height: 100vh;

}
.home-btn {
  color: rgba(0,0,0,0.4);
  text-decoration: none;
  padding-right: 10px;
}

.home-btn:hover {
  text-decoration: none;
  opacity: 1;
  color: black;
}

.cocktail-content {
  padding-left: 20px;
}

.show-actions {
  color: rgba(0,0,0,0.5);
}

.show-btn {
  color: rgba(0,0,0,0.4);
  text-decoration: none;
}

.show-btn:hover {
  text-decoration: none;
  opacity: 1;
  color: black;
}

.ingredients-list {
  list-style: none;
  font-size: 20px;
}
